.post-upload-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  .post-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title-input {
      width: 500px;
      height: 30px;
      font-size: medium;
      border-width: 0 0 1px;
      padding: 10px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .content-input {
      width: 500px;
      height: 300px;
      font-size: medium;
      padding: 10px;
      border: 1px solid #e0e0e0;
      margin-bottom: 20px;
      border-radius: 5px;
    }
    .fileUpload-btn {
      display: flex;
      /* justify-content: space-between; */
      align-items: center;
      width: 300px;
      /* margin: 0px 10px 10px 190px; */
      .input-file {
        display: none;
      }
      .custom-file-upload {
        width: 150px;
        padding: 10px;
        /* margin: 10px 10px 10px 10px; */
        font-weight: bold;
        cursor: pointer;
      }
    }

    .upload-btn {
      background: #0095f6;
      border: none;
      color: white;
      width: 80px;
      height: 40px;
      font-weight: bold;
      border-radius: 10px;
      margin-top: 10px;
      padding: 10px;
      &:hover {
        background-color: #3c66ee;
        border: 1px solid #3c66ee;
      }
    }
  }
}
